SMTP_SERVER = "smtp.example.ac.kr"
SMTP_PORT="465"
MAIL_SYSTEM_ADDRESS = "example@example.ac.kr"
MAIL_SYSTEM_USERNAME = "example"
MAIL_SYSTEM_PASSWORD = "example"
DISCORD_TOKEN = "example"

JWT_SECRET="yourActualSecretKey"
GUILD_ID="example"